@{
    ViewData["Title"] = "Panel Empleado";
}
<h1>Dashboard Empleado</h1>

@if ((int)ViewBag.TotalCocheras == 0)
{
    <p>Aún no hay ninguna cochera cargada. Debes cargar las cocheras disponibles</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Cochera" asp-action="Carga">Cargar Cocheras</a>
} else
{
    <div>
        <p>Hay @ViewBag.TotalCocheras cocheras totales</p>
        <p> @ViewBag.Mensaje</p>
    </div>

    <form action="/Cliente/Busqueda" method="get">
        <label for="persona">Buscar Persona por Nombre o Email:</label>
        <input type="text" id="persona" name="busquedaPersona" placeholder="Ingrese nombre o email">
        <input class="btn btn-primary" type="submit" value="Buscar">
    </form>
    <form action="/Vehiculo/Busqueda" method="get">
        <label for="vehiculo">Buscar Vehículo por Patente:</label>
        <input type="text" id="vehiculo" name="busquedaVehiculo" placeholder="Ingrese patente">
        <input class="btn btn-primary" type="submit" value="Buscar">
    </form>
    <form action="/Cochera/Disponibles" method="get">
        <h4>Buscar Cocheras disponibles</h4>
        <fieldset>
            <legend>Tipo de Auto:</legend>
            @foreach (var tipoVehiculo in Enum.GetValues(typeof(TipoVehiculo)))
            {
                <div>
                    <input type="radio" id="@($"tipoVehiculo-{tipoVehiculo}")" name="tipoVehiculo" value="@tipoVehiculo">
                    <label for="@($"tipoVehiculo-{tipoVehiculo}")">@tipoVehiculo</label>
                </div>
            }
        </fieldset>
        <fieldset>
            <legend>Tipo de cochera:</legend>
            @foreach (var tipoCochera in Enum.GetValues(typeof(TipoCochera)))
            {
                <input type="radio" id="@($"tipoCochera-{tipoCochera}")" name="tipoCochera" value="@tipoCochera">
                <label for="@($"tipoCochera-{tipoCochera}")">@tipoCochera</label>
                <br>
            }
        </fieldset>
        <input class="btn btn-primary" type="submit" value="Buscar">
    </form>
/* DESDE ACA */
<div class="body-dashboard">
    <div class="search-section">
        <div class="search-box">
                <input class="search__input" type="text" placeholder="Search">
        </div>
            <div class="search-box">
                <input class="search__input" type="text" placeholder="Search">
            </div>
    </div>
    <div class="info-group">
            <div class="card">
                <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM192 256h48c17.7 0 32-14.3 32-32s-14.3-32-32-32H192v64zm48 64H192v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V288 168c0-22.1 17.9-40 40-40h72c53 0 96 43 96 96s-43 96-96 96z" />
                </svg>
                <h2 class="card-title">@ViewBag.TotalCocheras <br /><span class="card-subtitle">Cocheras totales</span></h2>
            </div>
            <div class="card">
                <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
                    </svg>
                <h2 class="card-title">@ViewBag.CocherasLibres <br /><span class="card-subtitle">Cocheras Libres</span></h2>
            </div>
            <div class="card">
                <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M135.2 117.4L109.1 192H402.9l-26.1-74.6C372.3 104.6 360.2 96 346.6 96H165.4c-13.6 0-25.7 8.6-30.2 21.4zM39.6 196.8L74.8 96.3C88.3 57.8 124.6 32 165.4 32H346.6c40.8 0 77.1 25.8 90.6 64.3l35.2 100.5c23.2 9.6 39.6 32.5 39.6 59.2V400v48c0 17.7-14.3 32-32 32H448c-17.7 0-32-14.3-32-32V400H96v48c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V400 256c0-26.7 16.4-49.6 39.6-59.2zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z" />
                </svg>
                <h2 class="card-title">@ViewBag.CocherasOcupadas <br /><span class="card-subtitle">Cocheras Ocupadas</span></h2>
            </div>
     </div>
        <div class="info-group">
            <div class="card">
                <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                    <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg>
                <h2 class="card-title">@ViewBag.FijasLibres <br /><span class="card-subtitle">FIJAS LIBRES</span></h2>
            </div>
            <div class="card">
                <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M142.9 142.9c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5c0 0 0 0 0 0H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5c7.7-21.8 20.2-42.3 37.8-59.8zM16 312v7.6 .7V440c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l41.6-41.6c87.6 86.5 228.7 86.2 315.8-1c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.2 62.2-162.7 62.5-225.3 1L185 329c6.9-6.9 8.9-17.2 5.2-26.2s-12.5-14.8-22.2-14.8H48.4h-.7H40c-13.3 0-24 10.7-24 24z" />
                </svg>
                <h2 class="card-title">@ViewBag.OcasionalLibres <br /><span class="card-subtitle">OCASIONALES LIBRES</span></h2>
            </div>
        </div>
        <div class="info-group">
            <div class="card">
                <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512">
                    <path d="M280 32c-13.3 0-24 10.7-24 24s10.7 24 24 24h57.7l16.4 30.3L256 192l-45.3-45.3c-12-12-28.3-18.7-45.3-18.7H64c-17.7 0-32 14.3-32 32v32h96c88.4 0 160 71.6 160 160c0 11-1.1 21.7-3.2 32h70.4c-2.1-10.3-3.2-21-3.2-32c0-52.2 25-98.6 63.7-127.8l15.4 28.6C402.4 276.3 384 312 384 352c0 70.7 57.3 128 128 128s128-57.3 128-128s-57.3-128-128-128c-13.5 0-26.5 2.1-38.7 6L418.2 128H480c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32H459.6c-7.5 0-14.7 2.6-20.5 7.4L391.7 78.9l-14-26c-7-12.9-20.5-21-35.2-21H280zM462.7 311.2l28.2 52.2c6.3 11.7 20.9 16 32.5 9.7s16-20.9 9.7-32.5l-28.2-52.2c2.3-.3 4.7-.4 7.1-.4c35.3 0 64 28.7 64 64s-28.7 64-64 64s-64-28.7-64-64c0-15.5 5.5-29.7 14.7-40.8zM187.3 376c-9.5 23.5-32.5 40-59.3 40c-35.3 0-64-28.7-64-64s28.7-64 64-64c26.9 0 49.9 16.5 59.3 40h66.4C242.5 268.8 190.5 224 128 224C57.3 224 0 281.3 0 352s57.3 128 128 128c62.5 0 114.5-44.8 125.8-104H187.3zM128 384a32 32 0 1 0 0-64 32 32 0 1 0 0 64z" />
                </svg>
                <h2 class="card-title">@ViewBag.MotoLibres <br /><span class="card-subtitle">LIBRES MOTOS</span></h2>
            </div>
            <div class="card">
                <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M0 80C0 35.8 35.8 0 80 0H432c44.2 0 80 35.8 80 80V368c0 26.2-12.6 49.4-32 64v48c0 17.7-14.3 32-32 32H416c-17.7 0-32-14.3-32-32V448H128v32c0 17.7-14.3 32-32 32H64c-17.7 0-32-14.3-32-32V432C12.6 417.4 0 394.2 0 368V80zm129.9 72.2L112 224H400l-17.9-71.8C378.5 138 365.7 128 351 128H161c-14.7 0-27.5 10-31 24.2zM128 320a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z" />
                </svg>
                <h2 class="card-title">@ViewBag.CamionetaLibres <br /><span class="card-subtitle">LIBRES CAMIONETAS</span></h2>
            </div>
            <div class="card">
                <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M165.4 96H346.6c13.6 0 25.7 8.6 30.2 21.4L402.9 192H109.1l26.1-74.6c4.5-12.8 16.6-21.4 30.2-21.4zm-90.6 .3L39.6 196.8C16.4 206.4 0 229.3 0 256v80c0 23.7 12.9 44.4 32 55.4V448c0 17.7 14.3 32 32 32H96c17.7 0 32-14.3 32-32V400H384v48c0 17.7 14.3 32 32 32h32c17.7 0 32-14.3 32-32V391.4c19.1-11.1 32-31.7 32-55.4V256c0-26.7-16.4-49.6-39.6-59.2L437.2 96.3C423.7 57.8 387.4 32 346.6 32H165.4c-40.8 0-77.1 25.8-90.6 64.3zM208 272h96c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H208c-8.8 0-16-7.2-16-16V288c0-8.8 7.2-16 16-16zM48 280c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H72c-13.3 0-24-10.7-24-24zm360-24h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H408c-13.3 0-24-10.7-24-24s10.7-24 24-24z" />
                </svg>
                <h2 class="card-title">@ViewBag.AutoLibres <br /><span class="card-subtitle">LIBRES AUTOS</span></h2>
            </div>
        </div>
</div>


}
