@{
    ViewData["Title"] = "Panel Empleado";
}
<h1>Dashboard Empleado</h1>

@if ((int)ViewBag.TotalCocheras == 0)
{
    <p>Aún no hay ninguna cochera cargada. Debes cargar las cocheras disponibles</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Cochera" asp-action="Carga">Cargar Cocheras</a>
} else
{
    <div>
        <p>Hay @ViewBag.TotalCocheras cocheras totales</p>
        <p> @ViewBag.Mensaje</p>
    </div>

    <form action="/Cliente/Busqueda" method="get">
        <label for="persona">Buscar Persona por Nombre o Email:</label>
        <input type="text" id="persona" name="busquedaPersona" placeholder="Ingrese nombre o email">
        <input class="btn btn-primary" type="submit" value="Buscar">
    </form>
    <form action="/Vehiculo/Busqueda" method="get">
        <label for="vehiculo">Buscar Vehículo por Patente:</label>
        <input type="text" id="vehiculo" name="busquedaVehiculo" placeholder="Ingrese patente">
        <input class="btn btn-primary" type="submit" value="Buscar">
    </form>
    <form action="/Cochera/Disponibles" method="get">
        <h4>Buscar Cocheras disponibles</h4>
        <fieldset>
            <legend>Tipo de Auto:</legend>
            @foreach (var tipoVehiculo in Enum.GetValues(typeof(TipoVehiculo)))
            {
                <div>
                    <input type="radio" id="@($"tipoVehiculo-{tipoVehiculo}")" name="tipoVehiculo" value="@tipoVehiculo">
                    <label for="@($"tipoVehiculo-{tipoVehiculo}")">@tipoVehiculo</label>
                </div>
            }
        </fieldset>
        <fieldset>
            <legend>Tipo de cochera:</legend>
            @foreach (var tipoCochera in Enum.GetValues(typeof(TipoCochera)))
            {
                <input type="radio" id="@($"tipoCochera-{tipoCochera}")" name="tipoCochera" value="@tipoCochera">
                <label for="@($"tipoCochera-{tipoCochera}")">@tipoCochera</label>
                <br>
            }
        </fieldset>
        <input class="btn btn-primary" type="submit" value="Buscar">
    </form>
/* DESDE ACA */
<div class="info-group">
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 20V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1zm-2-1H5V5h14v14z" /><path d="M10.381 12.309l3.172 1.586a1 1 0 0 0 1.305-.38l3-5-1.715-1.029-2.523 4.206-3.172-1.586a1.002 1.002 0 0 0-1.305.38l-3 5 1.715 1.029 2.523-4.206z" /></svg>
            <h2 class="card-title">24 <br /><span class="card-subtitle">Cocheras totales</span></h2>
        </div>
</div>


}
